

SECRET_KEY=
ALGORITHM=
ACCESS_TOKEN_EXPIRE_MINUTES=
DATABASE=



GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

REDIRECT_URL=
JWT_SECRET_KEY=
FRONTEND_URL=
USERINFO_URL=

RABBITMQ_URL=
CHAT_FLUSH_INTERVAL_SECONDS=
CHAT_STREAM_CHUNK_SIZE=